<h1 style="text-align: center;">Calculadora</h1>

<p>Primer operando: <input type="number" [(ngModel)]="primerOperando"></p>
<p>Segundo operando: <input type="number" [(ngModel)]="segundoOperando" (input)="permitirDivision($event)"></p>

<p>
    <input type="button" value="+" (click)="sumaOperandos()">
    <input type="button" value="-" (click)="restaOperandos()">
    <input type="button" value="*" (click)="multiplicaOperandos()">
    <input type="button" value="/" (click)="divideOperandos()" [disabled]="divisionProhibida">

</p>

<p>Resultado: {{resultado}}</p>
